<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Category" asp-action="Index">Products</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <form asp-action="Index" asp-controller="ProductSearch" class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" name="textSearch" placeholder="Search" aria-label="Search" required>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                        <li style="margin-left:10px">
                            @await Component.InvokeAsync("Cart")
                        </li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="navbar-brand" style="margin-left: 10px"
                                   asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                            }
                        </li>
                    </ul>
                </div>
                @if (User.IsInRole("admin"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="AdminPage" asp-action="Index">Administration</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <span style="color:darkgray; margin-left: 10px; margin-right:20px; font-size:20px">@User.Identity.Name</span>
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Shops - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
