<h1>Admin page</h1>

<p>
    <a asp-controller="CategoryManagement" asp-action="Index" class="btn btn-outline-info">Categories</a>
</p>

<p>
    <a asp-controller="BrandManagement" asp-action="Index" class="btn btn-outline-info">Brands</a>
</p>

<p>

    <a asp-controller="OrderManagement" asp-action="Index" class="btn btn-outline-info">Orders</a>
</p>

<p>

    <a asp-controller="CustomerManagement" asp-action="Index" class="btn btn-outline-info">Users</a>
</p>
